## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [3]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [4]:
l1 = [1, 2, 3, 4, 5]
l2 = [5, 1, 2, 3, 4]

# Create the third list l3
l3 = []

# Picking odd-index elements from l1
for index in range(len(l1)):
    if index % 2 != 0:
        l3.append(l1[index])

# Picking even-index elements from l2
for index in range(len(l2)):
    if index % 2 == 0:
        l3.append(l2[index])

# Print the result
print("List l3:", l3)

List l3: [2, 4, 5, 2, 4]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [5]:
# Taking input from the user
rows = int(input("Enter the number of rows: "))

# Printing the pattern
for i in range(rows):
    # Generating the leading spaces
    spaces = ' ' * (2 * i)

    # Generating the stars with spaces in between
    stars = '* ' * (rows - i)

    # Combining and printing the line
    print(f"{spaces}{stars}")

Enter the number of rows: 8
* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [6]:
def exponent(base, exp):
    return base ** exp

# Example usage
base = 5
exp = 4
print(f"{base} raised to the power of {exp} is: {exponent(base, exp)}")

5 raised to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [7]:
# Specify the content to be inserted into the file
content = """line1
line2
line3
line4
line5
line6
line7"""

# Create and open the file in write mode
with open("test.txt", "w") as file:
    # Write the content into the file
    file.write(content)

print("Content has been written to test.txt")
# Open the original file and the new file
with open("test.txt", "r") as source_file, open("new_test.txt", "w") as target_file:
    # Read all lines from the source file
    lines = source_file.readlines()

    # Iterate through the lines and write to the new file, skipping line 5 (index 4)
    for i, line in enumerate(lines):
        if i != 4:  # Skip line 5 (index 4)
            target_file.write(line)

print("Content has been written to new_test.txt, skipping line 5.")

Content has been written to test.txt
Content has been written to new_test.txt, skipping line 5.

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [8]:
# Receive input from the user
user_input = input("Enter three names separated by spaces: ")

# Split the input string into a list of names
names = user_input.split()

# Print each name on a new line
for name in names:
    print(name)

Enter three names separated by spaces: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [10]:
def show_employee(name, salary=9000):
    #Display the employee's name and salary.
    print(f"Name: {name} salary: {salary}")

# Function calls
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [16]:
# Take input from the user
user_input = input("Enter string: ")

# Function to check if a word contains both letters and digits
def containing_letters_and_digits(word):
    it_has_letters = any(char.isalpha() for char in word)
    it_has_digits = any(char.isdigit() for char in word)
    return it_has_letters and it_has_digits

# Spliting the input string into words
words = user_input.split()

# Finding words containing both letters and digits
result = [word for word in words if containing_letters_and_digits(word)]

# Printing the result
print("Words containing both letters and digits:", " ".join(result))

Enter string: "Harry25 is Gryffindor Wizard50 and cursed"
Words containing both letters and digits: "Harry25 Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [14]:
# Given string
str1 = '/*Modi is @Politician & Melony!!'

# Function to replace special characters with '#'
def  substitute_special_chars(s):
    result = []
    for char in s:
        if char.isalnum() or char.isspace():
            result.append(char)
        else:
            result.append('#')
    return ''.join(result)

# Substitute each special character with '#'
result =  substitute_special_chars(str1)

# Print the result
print(result)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [17]:
# Given lists
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

# Create a set of pairs from both lists
result_set = set(zip(first_list, second_list))

# Print the result
print("Result is:", result_set)

Result is: {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [18]:
# Define sets A and B
A = {1, 2, 3, 4, 5}
B = {3, 5, 6, 9, 8}

# Perform set operations
A_minus_B = A - B
B_minus_A = B - A
A_intersection_B = A & B
A_union_B = A | B

# Print the results
print("A - B:", A_minus_B)
print("B - A:", B_minus_A)
print("A ∩ B:", A_intersection_B)
print("A ∪ B:", A_union_B)

A - B: {1, 2, 4}
B - A: {8, 9, 6}
A ∩ B: {3, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 8, 9}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [30]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def display_infomation(self):
        #Displaying the information of the vehicle.
        print(f"Maximum Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km")

# Example usage
# Creating an instance of the Vehicle class
car = Vehicle(max_speed=180, mileage=15000)

# Displaying the vehicle information
car.display_infomation()

Maximum Speed: 180 km/h
Mileage: 15000 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [38]:
# Parent class
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def display_info(self):
        print(f"Vehicle Name: {self.name}")
        print(f"Max Speed: {self.max_speed} km/h")
        print(f"Mileage: {self.mileage} km/l")

# Child class
class Bus(Vehicle):
    pass  # The Bus class inherits everything from the Vehicle class without changes

# Create a Bus object
college_bus = Bus(name="College Volvo", max_speed=180, mileage=12)

# Display the information of the Bus
college_bus.display_info()

Vehicle Name: College Volvo
Max Speed: 180 km/h
Mileage: 12 km/l

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [34]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage, capacity=50):
        # Call the constructor of the parent class
        super().__init__(name, max_speed, mileage)
        self.capacity = capacity

    def seating_capacity(self):
        #Override the seating_capacity method to use default capacity.
        return f"The seating capacity of a {self.name} is {self.capacity} passengers"

# Create an instance of the Bus class
college_bus = Bus(name="College Bus", max_speed=100, mileage=50000)

# Display the seating capacity
print(college_bus.seating_capacity())

The seating capacity of a College Bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [39]:
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
        base_fare = super().fare()  # Get the base fare from Vehicle class
        maintenance_fee = base_fare * 0.10  # 10% maintenance fee
        return base_fare + maintenance_fee  # Total fare with maintenance fee

# Create an instance of the Bus class
school_bus = Bus(name="School Volvo", mileage=12, capacity=50)

# Print the total bus fare
print("Total Bus fare is:", school_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [2]:
import json

# Given dictionary
data = {"key1": "value1", "key2": "value2"}

# Convert dictionary to JSON format
json_data = json.dumps(data, indent=4)

# Print the JSON string
print(json_data)

{
    "key1": "value1",
    "key2": "value2"
}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [1]:
import json

# Given dictionary
sampleJson = {"id": 1, "name": "value2", "age": 29}

# Define the file path where the JSON will be written
file_path = 'sorted_json.json'

# Write the sorted JSON to a file
with open(file_path, 'w') as file:
    json.dump(sampleJson, file, indent=4, sort_keys=True)

print(f"JSON data has been written to {file_path} with sorted keys.")

JSON data has been written to sorted_json.json with sorted keys.